.Rproj.user
.Rhistory
.RData
.Ruserdata
.DS_Store
Data/*.nc

# The data is confidential upon publication release
Data/Medits_TableA.csv
Data/Medits_TableB.csv
Data/Medits_TableC.csv
Data/MEDITS_spp.codes.csv
Data/TATB_WMED_1999-2021_clean.csv
Data/Catchs
Data/Temp_HindCast_WMED.xlsx
Data/HAULS_DB_ENV_HINDCAST_COMPLETE_2024.csv 
Data/Datos Atlántico/

# The submission folder and the graphical abstracts will be released upon publication
Submission/
Outputs/Graphical_Abstract/Data/*.nc
Outputs/FLUXGLOB/dat_proc/FLUXGLOB_Checkpoint
Outputs/
